:root {
  --bg1: #eee;
  --tx1: #000;
  --bd1: #aaa;
  --bd0: solid 1px var(--bd1);
  --bg-00: linear-gradient(
      00deg,
      rgba(165, 0, 0, 0.5),
      rgba(255, 255, 255, 0) 1em
    ),
    linear-gradient(90deg, rgba(165, 0, 0, 0.5), rgba(255, 255, 255, 0) 1em),
    linear-gradient(180deg, rgba(165, 0, 0, 0.5), rgba(255, 255, 255, 0) 1em),
    linear-gradient(270deg, rgba(165, 0, 0, 0.5), rgba(255, 255, 255, 0) 1em);
  --bg-01: linear-gradient(
      00deg,
      rgba(240, 0, 0, 0.5),
      rgba(255, 255, 255, 0) 1em
    ),
    linear-gradient(90deg, rgba(240, 0, 0, 0.5), rgba(255, 255, 255, 0) 1em),
    linear-gradient(180deg, rgba(240, 0, 0, 0.5), rgba(255, 255, 255, 0) 1em),
    linear-gradient(270deg, rgba(240, 0, 0, 0.5), rgba(255, 255, 255, 0) 1em);
}

body {
  margin: 0;
  display: grid;
  background-color: var(--bg1);
  color: var(--tx1);
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--tx1);
}

img {
  max-width: 100%;
  height: 240px;
  width: 100%;
}

header:hover,
article:hover {
  background: var(--bg-01);
  box-shadow: 0 0 5px 3px rgba(240, 0, 0, 0.5);
}

.grd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  gap: 4px;
}

.art {
  width: 280px;
}

.bg-test {
  background: var(--bg-01);
  width: 80vw;
  height: 20vw;
}
.bg-00 {
  background: var(--bg-00);
}
.bg-01 {
  background: var(--bg-01);
}
.bg-1 {
  background-color: aquamarine;
}

.dpf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.mg-0 {
  margin: 1rem, auto;
}
.mg-1 {
  margin: 2rem auto;
}

.pd-0 {
  padding: 5px;
}
.pd-1 {
  padding: 20px 16px;
}

.tx-c {
  text-align: center;
}
.tx-l {
  text-align: left;
}
.tx-r {
  text-align: right;
}

.bd-img {
  border-top: solid 1px #111;
  border-bottom: solid 1px #111;
}
.bd-0 {
  border: var(--bd0);
}
.bd-1 {
  border: var(--bd0);
}
.bdr0 {
  border-radius: 10px;
}

.ft-1 {
  font-size: calc(0.8rem + 0.5vw);
}
.ft-2 {
  font-size: calc(1.2rem);
}
.ft-3 {
  font-size: calc(0.3rem + 0.1vw);
}

.res {
  max-width: 40ch;
}
